body {
  font-family: sans-serif;
}

input{
  border-radius: 8px;
  border:none;
  padding: 6px 16px;
}

button{
  border-radius: 8px;
  border:none;
  padding: 6px 16px;
  margin: 0px 2px;
}

button:hover{
  background-color: deepskyblue;
  color: white;
  cursor: pointer;
}

.input-area {
  background-color: lightgray;
  width: 100%;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area {
  border: 2px solid lightgray;
  width: 100%;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  border: 2px solid lightgray;
  background-color: blanchedalmond;
  width: 100%;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0px 8px 0px;
}

.list-row {
  display: flex;
  align-items: center;
}

.todo-item {
  margin: 6px;
}